#startPage{
text-align: center;
}

a{
    color: black;
    font: 800;
}

a:hover{
    color: black;
    font: 800;
}

#startQuiz{
    background-color: black;
    color: whitesmoke;
    width: 200px;
}

#startQuiz:hover{
    background-color:black;

}

h3{
    font-size: xx-large;
}

#names{
    font-size: xx-large;
    text-align: center;
    color: black;
    font-weight: bold;
}

#scores{
    font-size: xx-large;
    text-align: center;
    color: black;
    font-weight: bold;
}